<p>
    Thanks for submitting a data file for loading.  I am busily processing it
    as you read this.  Once I'm done, I'll send another email letting you know.
    In the meantime you can check on my progress using the following link:<br>
    <br>
    <%= @status_link %>
</p>

<p>
    Cordially,
    <br><br>
    -Your friendly neighborhood upload processor
</p>